<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="title" required >
  <input type="text" formControlName="description" required>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
<div class="board">
  <div>TODO
    <div *ngFor="let toDo of toDos">
      <div class="task">
        <div>{{toDo.title}}</div>
        <div>{{toDo.description}}</div>
        <button (click)="moveToUnderDev(toDo)">Move to Under Development</button>

      </div>
    </div>
  </div>

  <div>UNDER DEVELOPMENT
    <div *ngFor="let underDev of underDevs">
      <div class="task">
        <div>{{underDev.title}}</div>
        <div>{{underDev.description}}</div>
        <button (click)="moveToToTest(underDev)">Move to To Test</button>
      </div>
    </div>
  </div>

  <div>TO TEST
    <div *ngFor="let toTest of toTests">
      <div class="task">
        <div>{{toTest.title}}</div>
        <div>{{toTest.description}}</div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
